<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <title>ViLT</title>
</head>
<body>
    <header>
        <div class="image_header_vilt">
            <form method="post" action="/reset-page">
                <input type="hidden" name="email_hidden" value="{{email}}" />
                <button class="iconic" type="submit">
                    <img src= "{{url_for('static', filename='img/vilt.png')}}"
                         alt="Vilt Logo" class="responsive" width="150" height="150">
                </button>
            </form>
        </div>
        <div class="image_header_dslab">
            <img src= "{{url_for('static', filename='img/dslab_logo.png')}}"
                 alt="DSLab Logo" class="responsive" width="450" height="150">
        </div>
    </header>
    <main>
        <div class="div-close">
            <form method="post" action="/logout">
                <input type="hidden" name="email_hidden" value="{{email}}" />
                <label>
                    <button class="button-close" type="submit">Cerrar sesión</button>
                </label>
            </form>
        </div>

        <div class="text">
             <h1 class="text-title">Administración de ViLT</h1>
             <h3>Bienvenido al área de administración del sistema.</h3>
             <div class="info-admin">
                 <ul>
                     <li>En este lugar debe seleccionar el tipo de entidad que desea administrar.</li>
                     <li>Puede elegir entre usuarios y grados según sus necesidades.</li>
                     <li>En los usuarios podrá añadir administradores o profesores.</li>
                     <li>En las titulaciones debe elegir la asignatura que desea consultar o modificar.</li>

                 </ul>
             </div>
         </div>

         {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    var messages = {{ messages|safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
            {% endif %}
        {% endwith %}

        <form class="admin-form" method="post" action="/admin-type">
            <input type="hidden" name="email_hidden" value="{{email}}" id="email_hidden" />
            <p class="title-form">Seleccione la opción deseada:</p>
             <div>
                <input type="radio" id="admins" name="admin" value="admins" checked/>
                <label for="admins">Administradores</label>
            </div>
            <div>
                <input type="radio" id="teachers" name="admin" value="teachers" />
                <label for="teachers">Profesores</label>
            </div>
            <div>
                <input type="radio" id="careers" name="admin" value="careers" />
                <label for="careers">Titulaciones</label>
            </div>
            <button id="admin-click" class="action-button" type="submit">Elegir</button>
        </form>
    </main>
    <footer>
         <div class="credits">
             <p class="developers">
                 <a href="mailto:alberto.fernandez.isabel@urjc.es"><img src="{{url_for('static', filename='img/sobre.png')}}" width="16" height="16"></a> Alberto Fernández Isabel</br>
                 <a href="mailto:isaac.martin@urjc.es"><img src="{{url_for('static', filename='img/sobre.png')}}" width="16" height="16"></a> Isaac Martín de Diego </br>
             </p>
         </div>
    </footer>
</body>
</html>