<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>ViLT</title>
</head>
<body>
    <header>
       <div class="image_header_vilt">
            <form method="post" action="/reset-page">
                <input type="hidden" name="email_hidden" value="{{email}}" />
                <button class="iconic" type="submit">
                    <img src= "{{url_for('static', filename='img/vilt.png')}}"
                         alt="Vilt Logo" class="responsive" width="150" height="150">
                </button>
            </form>
        </div>
        <div class="image_header_dslab">
            <img src= "{{url_for('static', filename='img/dslab_logo.png')}}" alt="DSLab Logo" class="responsive" width="450" height="150">
        </div>
    </header>
    <main>
        <div class="div-close">
            <form method="post" action="/logout">
                <input type="hidden" name="email_hidden" value="{{email}}" />
                <label>
                    <button class="button-close">Cerrar sesión</button>
                </label>
            </form>
        </div>

        <div class="text">
            <h1 class="text-title">Almacenamiento de documentos</h1>
            <h3>Puedes elegir tomar acciones de ampliación del temario de la titulación.</h3>
            <div class="info-admin">
                <p>Para ello, selecciona un documento en formato PDF y será añadido a la asignatura:
                    <br>
                    <b>{{selected_subject}}</b> de la titulación <b>{{selected_career}}</b>.
                </p>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <script>
                var messages = {{ messages|safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
            {% endif %}
        {% endwith %}

        <form class="admin-form-upload"  enctype=multipart/form-data method="post" action="/upload-docs">
            <label for="upload-file" class="title-form"> Documentos del temario:</label>
            <input type="file" name="upload-file" id="upload-file" accept="application/pdf">
            <input type="hidden" name="career_hidden" value="{{selected_career}}" />
            <input type="hidden" name="subject_hidden" value="{{selected_subject}}" />
            <input type="hidden" name="email_hidden" value="{{email}}" />
            <button id="option-click" class="action-button" type="submit">Elegir</button>
        </form>

         <div class="div-back">
            <form method="post" action="/admin-docs-back">
                <input type="hidden" name="career_hidden" value="{{selected_career}}" />
                <input type="hidden" name="subject_hidden" value="{{selected_subject}}" />
                <input type="hidden" name="email_hidden" value="{{email}}" />
                <button class="iconic" type="submit">
                    <img src= "{{url_for('static', filename='img/back.png')}}"
                         alt="Back Logo" class="responsive" width="30" height="30">
                </button>
            </form>
        </div>
    </main>
    <footer>
        <div class="credits">
            <p class="developers">
                <a href="mailto:alberto.fernandez.isabel@urjc.es"><img src="{{url_for('static', filename='img/sobre.png')}}" width="16" height="16"></a> Alberto Fernández Isabel</br>
                <a href="mailto:isaac.martin@urjc.es"><img src="{{url_for('static', filename='img/sobre.png')}}" width="16" height="16"></a> Isaac Martín de Diego </br>
            </p>
        </div>
    </footer>
</body>
</html>